In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('pyspark-case_study').getOrCreate()
credit =spark.read.csv("/FileStore/tables/credit_card.csv", header=True, inferSchema=True)  #original table name = credid_card.csv
loan = spark.read.csv("/FileStore/tables/loan.csv", header=True, inferSchema= True)   #original table name = loan_csv
txn= spark.read.csv("/FileStore/tables/txn.csv", header= True, inferSchema= True)     #original table name = txn_csv

credit.createOrReplaceTempView("credit")
loan.createOrReplaceTempView("loan")
txn.createOrReplaceTempView("txn")

In [0]:
#no.of loans in each category
spark.sql("select count(*) as count, `Loan Category` from loan GROUP BY `Loan Category` Order by count asc").show()

+-----+------------------+
|count|     Loan Category|
+-----+------------------+
|    7|       BOOK STORES|
|    7|          BUILDING|
|   12|       AGRICULTURE|
|   14|           DINNING|
|   14|       ELECTRONICS|
|   14|   HOME APPLIANCES|
|   20|  EDUCATIONAL LOAN|
|   20|        RESTAURANT|
|   24|          BUSINESS|
|   35|COMPUTER SOFTWARES|
|   35|          SHOPPING|
|   41|       RESTAURANTS|
|   53|        TRAVELLING|
|   60|        AUTOMOBILE|
|   67|           HOUSING|
|   77|         GOLD LOAN|
+-----+------------------+

In [0]:
#number of people with Loan amount than 100000 rupees
onelakh_loan= loan.filter(loan["Loan Amount"] > '100000').count()
print('people who took loan greather than 1 lakh: ', onelakh_loan)

people who took loan greather than 1 lakh:  279

In [0]:
#number of people with income greater than 60000 rupees
sixtyk_income= loan.filter(loan["Income"] > 60000).count()
print('people whose income is greather than 60000 rupees: ', sixtyk_income)

people whose income is greather than 60000 rupees:  198

In [0]:
#number of people with 2 or more returned cheques and income less than 50000
less_than_fiftyk= loan.filter((loan[" Returned Cheque"]>=2) & (loan["Income"]<50000)).count()
print('people with 2 or more returned cheques and income less than 50000:',less_than_fiftyk)

people with 2 or more returned cheques and income less than 50000: 137

In [0]:
#number of people with 2 or more returned cheques and are single
single_and_Returned_cheque= loan.filter((loan[" Returned Cheque"]>=2) & (loan["Marital Status"]=='SINGLE')).count()
print('number of people with 2 or more returned cheques and are single:',single_and_Returned_cheque)

number of people with 2 or more returned cheques and are single: 111

In [0]:
#number of people with expenditure over 50000 a month
exp_over_fivek=loan.filter(loan["Expenditure"]>50000).count()
print("number of people with expenditure over 50000 a month:", exp_over_fivek)

number of people with expenditure over 50000 a month: 6

In [0]:
#number of members who are elgible for credit card
credit_eligible=credit.filter(credit["CreditScore"]>750).count()
print("number of members who are elgible for credit card:", credit_eligible)

number of members who are elgible for credit card: 1598

In [0]:
#credit card users in Spain
spain_users=credit.filter(credit["Geography"]=='Spain').count()
print("Total credit card users in Spain:", spain_users)

Total credit card users in Spain: 2477

In [0]:
 #number of members who are elgible for credit card and active in the bank
active_credit= credit.filter((credit["CreditScore"]>750) & (credit["IsActiveMember"]=='1')).count()
print('number of members who are elgible for credit card and active in the bank:',active_credit)

number of members who are elgible for credit card and active in the bank: 832

In [0]:
 
#Maximum withdrawal amount in transaction
max_withdrawl=spark.sql("select max(` WITHDRAWAL AMT `) as max_withdrawl_amount from txn ")
print('Maximum withdrawal amount in transaction:', max_withdrawl.collect()[0][0])

Maximum withdrawal amount in transaction: 459447546.4

In [0]:
#MINIMUM WITHDRAWAL AMOUNT OF AN ACCOUNT in txn
min_withdrawl=spark.sql("select min(` WITHDRAWAL AMT `) as min_withdrawl_amount from txn ")
print('Min withdrawal amount in transaction:', min_withdrawl.collect()[0][0])

Min withdrawal amount in transaction: 0.01

In [0]:
#MAXIMUM DEPOSIT AMOUNT OF AN ACCOUNT
max_deposit=spark.sql("select max(` DEPOSIT AMT `) as max_deposit_amount from txn ")
print('Maximum deposit amount of an account:', max_deposit.collect()[0][0])

Maximum deposit amount of an account: 544800000.0

In [0]:
#MINIMUM DEPOSIT AMOUNT OF AN ACCOUNT
min_deposit=spark.sql("select min(` DEPOSIT AMT `) as min_deposit_amount from txn ")
print('Minimum deposit amount of an account:', min_deposit.collect()[0][0])

Minimum deposit amount of an account: 0.01