In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('coding_challenge').getOrCreate()
loan = spark.read.csv("/FileStore/tables/loan.csv", header=True, inferSchema= True)   #original table name = loan_csv
 
loan.createOrReplaceTempView("loan")

In [0]:
#Filter with pyspark and spark sql

#pyspark
onelakh_loan= loan.filter(loan["Loan Amount"] > '100000').count()
print('people who took loan greather than 1 lakh (pyspark): ', onelakh_loan)

#spark sql
print('\npeople who took loan greather than 1 lakh (spark sql): ')
spark.sql("select count(*) as Count from loan where `Loan Amount` >'100000'").show()

people who took loan greather than 1 lakh (pyspark):  279

people who took loan greather than 1 lakh (spark sql):
+-----+
|Count|
+-----+
|  279|
+-----+

In [0]:
 from pyspark.sql.functions import sum,max,min,avg,count, mean, count

# Calculate total income amount
income = loan.agg(sum("Income").alias("total_income"))
print("Total income (pyspark): ",income.show())

print("\nTotal income (spark sql):")
spark.sql("select sum(Income)  from loan").show()

+------------+
|total_income|
+------------+
|    31982882|
+------------+

Total income (pyspark):  None

Total income (spark sql):
+-----------+
|sum(Income)|
+-----------+
|   31982882|
+-----------+

In [0]:
#max income
income = loan.agg(max("Income").alias("max_income"))
print("Max income (pyspark): ",income.show())

print("\nMax income (spark sql):")
spark.sql("select max(Income)  from loan").show()

+----------+
|max_income|
+----------+
|    930000|
+----------+

Max income (pyspark):  None

Max income (spark sql):
+-----------+
|max(Income)|
+-----------+
|     930000|
+-----------+

In [0]:
#min income
income = loan.agg(min("Income").alias("min_income"))
print("Minincome (pyspark): ",income.show())

print("\nMin income (spark sql):")
spark.sql("select min(Income)  from loan").show()

+----------+
|min_income|
+----------+
|     28366|
+----------+

Minincome (pyspark):  None

Min income (spark sql):
+-----------+
|min(Income)|
+-----------+
|      28366|
+-----------+

In [0]:
#avg income
income = loan.agg(avg("Income").alias("avg_incomet"))
print("avg income (pyspark): ",income.show())

print("\nAvg income (spark sql):")
spark.sql("select avg(Income)  from loan").show()

+-----------------+
|      avg_incomet|
+-----------------+
|68339.49145299145|
+-----------------+

avg income (pyspark):  None

Avg income (spark sql):
+-----------------+
|      avg(Income)|
+-----------------+
|68339.49145299145|
+-----------------+

In [0]:
#mean income
income = loan.agg(mean("Income").alias("Mean income"))
print("Mean income (pyspark): ",income.show())

print("\nMean income (spark sql)")
spark.sql("select mean(Income)  from loan").show()

+-----------------+
|      Mean income|
+-----------------+
|68339.49145299145|
+-----------------+

Mean income (pyspark):  None

Mean income (spark sql)
+-----------------+
|     mean(Income)|
+-----------------+
|68339.49145299145|
+-----------------+

In [0]:
from pyspark.sql.functions import count

# Count the number of non-null entries in the 'Income' column
income_count = loan.agg(count("Income").alias("Income_Count"))

print("Count of Income (PySpark):")
income_count.show()

print("\nCount of Income (Spark SQL):")
spark.sql("SELECT count(Income) AS Income_Count FROM loan").show()

Count of Income (PySpark):
+------------+
|Income_Count|
+------------+
|         468|
+------------+


Count of Income (Spark SQL):
+------------+
|Income_Count|
+------------+
|         468|
+------------+

In [0]:
#Group By
a=loan.groupBy("Loan Category").min("Income")
print('Minimun income in each loan category(py spark):', a.show())

spark.sql("select `Loan Category`, min(Income) as min_income from loan GROUP BY `Loan Category`").show()

+------------------+-----------+
|     Loan Category|min(Income)|
+------------------+-----------+
|           HOUSING|      29565|
|        TRAVELLING|      30000|
|       BOOK STORES|      34275|
|       AGRICULTURE|      32571|
|         GOLD LOAN|      28366|
|  EDUCATIONAL LOAN|      35247|
|        AUTOMOBILE|      30000|
|          BUSINESS|      40883|
|COMPUTER SOFTWARES|      31747|
|           DINNING|      33312|
|          SHOPPING|      30454|
|       RESTAURANTS|      30000|
|       ELECTRONICS|      34836|
|          BUILDING|      48613|
|        RESTAURANT|      35735|
|   HOME APPLIANCES|      45389|
+------------------+-----------+

Minimun income in each loan category(py spark): None
+------------------+----------+
|     Loan Category|min_income|
+------------------+----------+
|           HOUSING|     29565|
|        TRAVELLING|     30000|
|       BOOK STORES|     34275|
|       AGRICULTURE|     32571|
|         GOLD LOAN|     28366|
|  EDUCATIONAL LOAN|     35247|
|        AUTOMOBILE|     30000|
|          BUSINESS|     40883|
|COMPUTER SOFTWARES|     31747|
|           DINNING|     33312|
|          SHOPPING|     30454|
|       RESTAURANTS|     30000|
|       ELECTRONICS|     34836|
|          BUILDING|     48613|
|        RESTAURANT|     35735|
|   HOME APPLIANCES|     45389|
+------------------+----------+

In [0]:
#joins
risk_data = [
    ("HOUSING", "High Risk"),
    ("SHOPPING", "Low Risk"),
    ("TRAVELLING", "Medium Risk"),
    ("GOLD LOAN", "Medium Risk"),
    ("AUTOMOBILE", "High Risk"),
]
risk_df = spark.createDataFrame(risk_data, ["Loan Category", "Risk Level"])

# Register risk DataFrame as a temporary SQL view
risk_df.createOrReplaceTempView("risk")

In [0]:
#Inner join
print("Inner Join (PySpark)")
loan.join(risk_df, on="Loan Category", how="inner").display(5)

# SparkSQL Joins
print("Inner Join (SparkSQL)")
spark.sql("""
    SELECT l.*, r.`Risk Level`
    FROM loan l
    JOIN risk r
    ON l.`Loan Category` = r.`Loan Category`
""").show(5)

Inner Join (PySpark)

Loan Category,Customer_ID,Age,Gender,Occupation,Marital Status,Family Size,Income,Expenditure,Use Frequency,Loan Amount,Overdue,Debt Record,Returned Cheque,Dishonour of Bill,Risk Level
HOUSING,IB15107,46,FEMALE,CHARTERED APPRAISER,MARRIED,2,85088,44256,5,"347,254",9,37966,1,5,High Risk
HOUSING,IB15095,53,FEMALE,SOFTWARE ENGINEER,SINGLE,4,75210,26027,7,"740,375",7,35419,2,4,High Risk
HOUSING,IB15091,42,MALE,AGRICULTURAL ENGINEER,MARRIED,2,66610,35744,4,"582,943",8,28192,0,8,High Risk
HOUSING,IB15084,36,FEMALE,CLERK,MARRIED,4,38000,19000,3,"3,00,000",2,"5,600",4,8,High Risk
HOUSING,IB15024,26,MALE,DIETICIAN,SINGLE,3,95425,53086,2,"488,076",4,61227,5,2,High Risk
HOUSING,IB14993,47,FEMALE,CLERK,MARRIED,3,41182,22773,6,"855,157",3,41755,0,6,High Risk
HOUSING,IB14991,52,MALE,PILOT,SINGLE,7,95853,49629,4,"1,392,577",6,25269,4,8,High Risk
HOUSING,IB14974,33,FEMALE,BUSINESS,MARRIED,3,85562,49473,5,"1,178,327",8,18187,5,3,High Risk
HOUSING,IB14971,38,FEMALE,TEACHER,MARRIED,5,52815,22751,9,"605,610",9,47828,4,4,High Risk
HOUSING,IB14947,32,FEMALE,DIETICIAN,SINGLE,3,50060,28989,6,"600,085",6,45436,4,9,High Risk
HOUSING,IB14943,31,FEMALE,TEACHER,SINGLE,3,41227,19187,2,"414,714",5,53843,7,3,High Risk
HOUSING,IB14941,42,MALE,AGRICULTURAL ENGINEER,MARRIED,2,76610,46744,4,"782,943",8,38192,0,8,High Risk
HOUSING,IB14933,43,MALE,DOCTOR,SINGLE,4,55407,24413,4,"1,042,737",9,57977,9,1,High Risk
HOUSING,IB14928,48,MALE,DATA ENGINEER,MARRIED,6,55675,25670,5,"1,067,890",6,34670,7,3,High Risk
HOUSING,IBI4919,35,MALE,DOCTOR,MARRIED,5,67500,35670,7,"756,890",6,45670,4,7,High Risk
HOUSING,IB14914,45,MALE,DENTIST,MARRIED,6,75640,32456,6,"1,035,600",5,35400,6,6,High Risk
HOUSING,IB14900,35,MALE,TEACHER,MARRIED,5,null,26535,3,"626,586",1,56137,3,3,High Risk
HOUSING,IB14895,42,MALE,NAVY,MARRIED,3,39213,26716,5,"685,819",3,23887,2,1,High Risk
HOUSING,IB14850,42,MALE,AGRICULTURAL ENGINEER,MARRIED,2,86610,45744,4,"582,943",8,28192,0,8,High Risk
HOUSING,IB14837,38,MALE,DRIVER,SINGLE,7,45362,35895,9,"1,216,455",7,83458,3,7,High Risk
HOUSING,IB14831,30,FEMALE,NAVY,SINGLE,6,51862,21101,5,"745,152",5,57851,6,8,High Risk
HOUSING,IB14792,35,MALE,BUSINESS,MARRIED,4,50604,19918,9,"164,081",7,16514,5,4,High Risk
HOUSING,IB14787,57,MALE,CLERK,MARRIED,5,49076,18730,4,"467,795",3,64234,7,4,High Risk
HOUSING,IB14785,47,FEMALE,DRIVER,SINGLE,5,38687,17562,8,"180,826",5,81601,6,1,High Risk
HOUSING,IB14783,39,FEMALE,FARMER,MARRIED,5,73656,18108,3,"328,952",8,84200,1,5,High Risk
HOUSING,IB14775,58,MALE,POLICE,MARRIED,2,57319,30980,6,"1,488,726",7,57758,9,2,High Risk
HOUSING,IB14765,34,MALE,ARMY,SINGLE,6,72271,32082,4,"625,194",7,19300,2,7,High Risk
HOUSING,IB14761,26,FEMALE,BUSINESS,SINGLE,6,74775,27970,8,"879,114",2,47103,2,5,High Risk
HOUSING,IB14755,35,FEMALE,ACCOUNTANT,MARRIED,4,51568,29607,8,"1,013,760",2,33446,0,1,High Risk
HOUSING,IB14749,28,FEMALE,DOCTOR,MARRIED,7,62600,22775,9,"950,922",8,28527,4,4,High Risk
HOUSING,IB14741,34,FEMALE,CLERK,SINGLE,6,47550,25286,6,"696,818",1,49464,0,4,High Risk
HOUSING,IB14737,54,FEMALE,POLICE,SINGLE,6,62641,36687,4,"898,353",2,26901,1,3,High Risk
HOUSING,IB14736,38,FEMALE,ACCOUNTANT,SINGLE,5,75290,35549,9,"1,522,824",1,71187,7,2,High Risk
HOUSING,IB14689,47,FEMALE,CLERK,MARRIED,3,81182,25773,6,"755,157",3,41755,0,6,High Risk
HOUSING,IB14685,26,MALE,BANK MANAGER,SINGLE,5,29565,19490,9,"1,767,908",9,72653,4,6,High Risk
HOUSING,IB14667,30,MALE,AGRICULTURAL ENGINEER,SINGLE,6,85289,49481,3,"679,588",1,21091,3,3,High Risk
HOUSING,IB14653,46,FEMALE,BUSINESS,MARRIED,4,46477,43292,8,"1,268,582",6,70231,0,2,High Risk
HOUSING,IB14602,39,FEMALE,BANK MANAGER,SINGLE,6,55639,23775,9,"284,938",9,80269,3,8,High Risk
HOUSING,IB14565,33,FEMALE,BUSINESS,MARRIED,3,45562,19473,5,"1,378,327",8,18187,5,3,High Risk
HOUSING,IB14559,38,FEMALE,TEACHER,MARRIED,5,82815,42751,9,"505,610",9,87828,4,4,High Risk
HOUSING,IB14503,56,MALE,ASSISTANT MANAGER,MARRIED,4,83357,24925,6,"808,369",9,32196,2,6,High Risk
HOUSING,IB14444,54,FEMALE,PRODUCT ENGINEER,MARRIED,4,67184,17813,7,"1,254,038",2,80008,3,1,High Risk
HOUSING,IB14442,32,MALE,DATA ANALYST,MARRIED,6,31948,19502,7,"1,286,679",3,79111,4,4,High Risk
HOUSING,IB14390,43,FEMALE,BANK MANAGER,MARRIED,6,95247,36035,6,"1,080,007",7,19931,6,2,High Risk
HOUSING,IB14380,41,FEMALE,NURSE,MARRIED,5,36784,null,4,"1,232,534",9,60243,3,1,High Risk
HOUSING,IB14357,45,MALE,FIRE DEPARTMENT,MARRIED,2,77805,16699,5,"1,115,164",3,87189,2,2,High Risk
HOUSING,IB14344,43,MALE,AIRPORT OFFICER,MARRIED,7,null,28032,8,"1,691,451",7,64718,0,4,High Risk
HOUSING,1B14315,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,"9,85,412",5,"11,254",1,2,High Risk
HOUSING,IB14304,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,"3,54,789",5,"32,154",5,5,High Risk
HOUSING,IB14303,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,"10,65,577",6,"19,999",4,2,High Risk
HOUSING,IB14299,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,39541,2,"20,45,789",1,"16,599",2,3,High Risk
HOUSING,IB14289,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,"4,77,870",1,"50,000",0,3,High Risk
HOUSING,IB14283,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,"3,00,000",2,"5,600",4,8,High Risk
HOUSING,IB14253,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,42541,2,"20,45,789",1,"16,599",2,3,High Risk
HOUSING,IB14227,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,"20,45,789",1,"16,599",2,3,High Risk
HOUSING,IB14225,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,"10,65,577",6,"19,999",4,2,High Risk
HOUSING,IB14208,36,FEMALE,CLERK,MARRIED,4,45300,15000,3,"3,00,000",2,"5,600",4,8,High Risk
HOUSING,IB14176,54,MALE,AIRPORT OFFICER,MARRIED,6,80000,62541,2,"20,45,789",1,"16,599",2,3,High Risk
HOUSING,IBI4157,35,MALE,BANK MANAGER,MARRIED,4,930000,35680,6,"6,79,040",5,"34,000",5,5,High Risk
HOUSING,IB14121,33,MALE,DOCTOR,MARRIED,6,70000,12541,8,"7,45,213",4,"19,541",1,3,High Risk
HOUSING,1B14094,49,MALE,ASSISTANT PROFESSOR,MARRIED,5,65214,42589,5,"9,85,412",5,"11,254",1,2,High Risk
HOUSING,IB14085,30,MALE,ELECTRICIAN,MARRIED,4,30000,15000,5,"3,54,789",5,"32,154",5,5,High Risk
HOUSING,IB14060,36,FEMALE,CLERK,MARRIED,4,35000,15000,3,"3,00,000",2,"5,600",4,8,High Risk
HOUSING,IB14054,58,FEMALE,DOCTOR,MARRIED,5,60000,25000,5,"9,00,000",5,"21,000",9,0,High Risk
HOUSING,IB14050,56,MALE,CIVIL ENGINEER,MARRIED,4,null,13999,3,"10,65,577",6,"19,999",4,2,High Risk
HOUSING,IB14025,39,FEMALE,TEACHER,MARRIED,6,46619,18675,4,"12,09,867",8,"29,999",6,8,High Risk
HOUSING,IB14001,30,MALE,BANK MANAGER,SINGLE,4,50000,22199,6,"10,00,000",5,"42,898",6,9,High Risk
SHOPPING,IB15057,55,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,54999,25888,4,"47,787",1,"50,000",0,3,Low Risk
SHOPPING,IB15048,55,FEMALE,NURSE,MARRIED,6,38999,24888,4,"47,787",1,"50,000",0,3,Low Risk
SHOPPING,IB15027,47,MALE,DOCTOR,SINGLE,4,79580,null,3,"339,171",9,84824,8,9,Low Risk
SHOPPING,IB14953,29,MALE,SOFTWARE ENGINEER,SINGLE,5,50454,32210,4,"763,036",6,36762,7,9,Low Risk
SHOPPING,IB14911,24,FEMALE,SOFTWARE ENGINEER,SINGLE,5,56000,22376,5,"206,750",4,23450,5,3,Low Risk
SHOPPING,IB14833,52,FEMALE,DIETICIAN,MARRIED,6,90687,49940,6,"707,716",6,29454,8,7,Low Risk
SHOPPING,IB14800,30,FEMALE,TEACHER,SINGLE,4,49370,21720,4,"140,556",9,40378,7,7,Low Risk
SHOPPING,IB14731,45,MALE,BUSINESS,SINGLE,7,34444,45690,8,"380,248",5,15020,2,4,Low Risk
SHOPPING,IB14718,47,MALE,DOCTOR,SINGLE,4,77580,null,3,"339,171",9,84824,8,9,Low Risk
SHOPPING,IB14639,40,FEMALE,DOCTOR,MARRIED,7,63495,12411,3,"1,404,969",6,74273,4,8,Low Risk
SHOPPING,IB14619,43,MALE,TEACHER,SINGLE,4,35020,26286,8,"162,449",9,22862,3,3,Low Risk
SHOPPING,IB14501,49,MALE,CORPORATE OFFICER,MARRIED,2,48307,19509,7,"609,193",5,41490,3,3,Low Risk
SHOPPING,IB14490,37,FEMALE,SYSTEM MANAGER,MARRIED,2,71477,28652,8,"786,718",8,78821,1,5,Low Risk
SHOPPING,IB14476,29,MALE,SOFTWARE ENGINEER,SINGLE,5,30454,22210,4,"763,036",6,37762,7,9,Low Risk
SHOPPING,IB14466,24,MALE,PUBLIC WORKS,SINGLE,3,45228,27839,7,"439,976",8,57559,1,7,Low Risk
SHOPPING,IB14459,32,MALE,DOCTOR,MARRIED,4,35472,18340,6,"571,540",9,52731,0,0,Low Risk
SHOPPING,IB14427,55,MALE,POLICE,MARRIED,2,60403,15913,5,"738,306",7,54387,0,7,Low Risk
SHOPPING,IB14392,36,MALE,AIRPORT OFFICER,MARRIED,7,48749,18330,6,"793,130",5,14684,1,1,Low Risk
SHOPPING,IB14383,56,MALE,PRODUCT ENGINEER,MARRIED,5,44130,27092,8,"426,730",1,76010,9,0,Low Risk
SHOPPING,IB14377,54,MALE,FIRE DEPARTMENT,MARRIED,2,80000,25318,8,"660,937",1,28195,7,6,Low Risk
SHOPPING,IB14363,37,MALE,DOCTOR,MARRIED,3,32753,26219,5,"621,260",7,76545,0,3,Low Risk
SHOPPING,IB14339,50,MALE,STORE KEEPER,MARRIED,6,35918,19202,5,"612,770",1,31774,9,4,Low Risk
SHOPPING,IB14336,51,MALE,PROFESSOR,MARRIED,4,69401,28234,6,"733,568",2,38457,8,4,Low Risk
SHOPPING,IB14320,29,MALE,SOFTWARE ENGINEER,MARRIED,2,38170,19224,5,"329,277",2,57381,5,7,Low Risk
SHOPPING,IB14291,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,"80,660",6,"4,500",5,4,Low Risk
SHOPPING,IB14277,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,"5,87,412",7,"65,412",3,2,Low Risk
SHOPPING,IB14267,55,FEMALE,ASSISTANT PROFESSOR,MARRIED,6,34999,19888,4,"47,787",1,"50,000",0,3,Low Risk
SHOPPING,IB14261,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,"47,787",1,"50,000",0,3,Low Risk
SHOPPING,IB14242,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,"47,787",1,"50,000",0,3,Low Risk
SHOPPING,IB14218,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,"50,000",3,"33,999",1,5,Low Risk
SHOPPING,IB14195,32,MALE,PRODUCT ENGINEER,MARRIED,6,null,29000,7,"80,660",6,"4,500",5,4,Low Risk
SHOPPING,IB14173,33,FEMALE,PRODUCT ENGINEER,MARRIED,5,null,45812,5,"8,52,416",4,"17,524",6,3,Low Risk
SHOPPING,IB14169,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,"5,87,412",7,"65,412",3,2,Low Risk
SHOPPING,IB14113,49,MALE,ASSISTANT MANAGER,MARRIED,7,45612,39542,3,"5,87,412",7,"65,412",3,2,Low Risk
SHOPPING,IB14008,44,MALE,PROFESSOR,MARRIED,6,51000,19999,4,"50,000",3,"33,999",1,5,Low Risk
TRAVELLING,IB15097,32,FEMALE,DIETICIAN,SINGLE,3,45060,24989,6,"400,085",6,41436,4,9,Medium Risk
TRAVELLING,IB15086,40,MALE,PUBLIC WORKS,MARRIED,4,58000,27000,3,"4,00,000",9,"19,954",3,2,Medium Risk
TRAVELLING,IB15077,41,MALE,BANK MANAGER,MARRIED,6,68125,41246,6,"6,52,147",5,"16,524",3,3,Medium Risk
TRAVELLING,IB15074,49,MALE,ASSISTANT MANAGER,MARRIED,7,49612,29542,3,"5,87,412",7,"65,412",3,2,Medium Risk
TRAVELLING,IB15044,29,MALE,TEACHER,MARRIED,5,55767,22787,3,"6,00,000",7,"11,000",0,4,Medium Risk
TRAVELLING,IB15039,29,MALE,FIRE DEPARTMENT,MARRIED,5,63213,26457,9,"15,24,789",7,"90,000",2,5,Medium Risk
TRAVELLING,IB14996,27,MALE,DOCTOR,SINGLE,7,68366,30258,2,"1,059,986",9,20611,5,5,Medium Risk
TRAVELLING,IB14988,40,MALE,CLERK,MARRIED,7,58409,28566,6,"554,177",2,15938,7,3,Medium Risk
TRAVELLING,IB14955,34,MALE,BANK MANAGER,MARRIED,5,63070,25306,4,"387,941",4,15604,5,1,Medium Risk
TRAVELLING,IB14931,41,MALE,NAVY,MARRIED,5,72345,43210,6,"567,890",6,24580,2,1,Medium Risk
TRAVELLING,IB14929,35,FEMALE,ACCOUNTANT,MARRIED,5,45670,21345,5,"456,780",6,34560,4,4,Medium Risk
TRAVELLING,IB14924,39,MALE,ARMY,MARRIED,7,65750,23456,6,"567,890",5,34567,3,7,Medium Risk
TRAVELLING,IBI4921,43,FEMALE,NUTRITION,MARRIED,6,55650,31245,5,"456,780",6,23456,3,2,Medium Risk
TRAVELLING,IB14915,46,FEMALE,TEACHER,MARRIED,4,45678,23456,5,"456,790",6,24560,7,4,Medium Risk
TRAVELLING,IB14898,51,FEMALE,SOFTWARE ENGINEER,SINGLE,3,84966,42591,5,"1,179,496",4,58257,0,9,Medium Risk
TRAVELLING,IB14839,54,FEMALE,TECHNICIAN,SINGLE,5,34721,14789,2,"332,838",1,67426,0,3,Medium Risk
TRAVELLING,IB14641,42,FEMALE,FARMER,MARRIED,5,96681,34686,6,"1,632,809",8,54198,7,4,Medium Risk
TRAVELLING,IB14583,40,MALE,CLERK,MARRIED,7,78409,18566,6,"54,177",2,15938,7,3,Medium Risk
TRAVELLING,IB14491,24,MALE,TEACHER,SINGLE,2,77923,null,5,"625,226",5,34121,2,8,Medium Risk
TRAVELLING,IB14479,34,MALE,BANK MANAGER,MARRIED,5,73070,26306,4,"887,941",4,10604,5,1,Medium Risk
TRAVELLING,IB14449,44,MALE,ASSISTANT PROFESSOR,MARRIED,4,44090,19351,6,"734,412",2,15510,8,0,Medium Risk
TRAVELLING,IB14430,39,FEMALE,NURSE,MARRIED,5,43323,27877,8,"841,365",1,56142,5,4,Medium Risk
TRAVELLING,IB14421,42,FEMALE,DATA ANALYST,MARRIED,4,77671,24112,6,"859,268",4,89027,1,6,Medium Risk
TRAVELLING,IB14418,40,FEMALE,TEACHER,MARRIED,6,77627,null,8,"800,400",1,19990,4,0,Medium Risk
TRAVELLING,IB14408,38,FEMALE,NURSE,MARRIED,6,42490,25775,7,"890,564",6,67559,0,4,Medium Risk
TRAVELLING,IB14399,50,FEMALE,PROFESSOR,MARRIED,2,84802,21896,5,"814,059",5,84640,1,5,Medium Risk
TRAVELLING,IB14395,36,FEMALE,TEACHER,SINGLE,7,43518,null,8,"681,886",9,56090,0,0,Medium Risk
TRAVELLING,IB14384,25,MALE,TEACHER,MARRIED,7,64528,21231,5,"506,450",1,64918,5,3,Medium Risk
TRAVELLING,IB14378,24,FEMALE,CLERK,MARRIED,3,47361,19718,8,"722,040",4,21323,2,1,Medium Risk
TRAVELLING,IB14369,37,FEMALE,DOCTOR,MARRIED,5,57453,null,6,"462,585",1,72488,9,8,Medium Risk
TRAVELLING,IB14333,48,FEMALE,DATA ANALYST,MARRIED,4,57097,16144,6,"917,886",4,89636,8,1,Medium Risk
TRAVELLING,IB14326,37,MALE,DOCTOR,SINGLE,2,56856,23678,7,"588,690",8,87171,4,3,Medium Risk
TRAVELLING,IB14293,54,FEMALE,TEACHER,MARRIED,5,48099,19999,4,"30,999",1,"12,000",7,5,Medium Risk
TRAVELLING,IB14288,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,"79,999",4,"6,700",7,3,Medium Risk
TRAVELLING,IB14278,41,MALE,BANK MANAGER,MARRIED,6,64125,51246,6,"6,52,147",5,"16,524",3,3,Medium Risk
TRAVELLING,IB14254,29,MALE,FIRE DEPARTMENT,MARRIED,5,43213,22457,9,"15,24,789",7,"90,000",2,5,Medium Risk
TRAVELLING,IB14247,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,"15,24,789",7,"90,000",2,5,Medium Risk
TRAVELLING,IB14220,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,"75,000",6,"20,876",3,1,Medium Risk
TRAVELLING,IB14215,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,"79,999",4,"6,700",7,3,Medium Risk
TRAVELLING,IB14194,55,FEMALE,NURSE,MARRIED,6,34999,19888,4,"47,787",1,"50,000",0,3,Medium Risk
TRAVELLING,IB14187,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,"75,000",6,"20,876",3,1,Medium Risk
TRAVELLING,IB14164,56,MALE,DRIVER,MARRIED,5,30000,15426,7,"9,21,456",6,"20,000",4,6,Medium Risk
TRAVELLING,IB14160,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,"15,24,789",7,"90,000",2,5,Medium Risk
TRAVELLING,IBI4153,58,MALE,SYSTEM ENGINEER,MARRIED,6,76800,null,5,"16,59,080",6,"29,000",5,3,Medium Risk
TRAVELLING,IB14146,56,MALE,FIRE DEPARTMENT,MARRIED,6,67890,34567,5,"6,78,500",5,"13,560",3,4,Medium Risk
TRAVELLING,IB14145,45,FEMALE,CLERK,MARRIED,5,40560,38789,6,"7,85,000",6,"29,650",6,7,Medium Risk
TRAVELLING,IB14140,45,MALE,BANK MANAGER,MARRIED,6,55670,32500,5,"2,00,560",3,"34,600",4,4,Medium Risk
TRAVELLING,IB14115,41,MALE,BANK MANAGER,MARRIED,6,64125,21246,6,"6,52,147",5,"16,524",3,3,Medium Risk
TRAVELLING,IB14109,56,MALE,DRIVER,MARRIED,5,30000,15426,7,"9,21,456",6,"20,000",4,6,Medium Risk
TRAVELLING,IB14106,29,MALE,FIRE DEPARTMENT,MARRIED,5,45213,32457,9,"15,24,789",7,"90,000",2,5,Medium Risk
TRAVELLING,IB14049,49,MALE,BANK MANAGER,MARRIED,4,45999,14500,4,"79,999",4,"6,700",7,3,Medium Risk
TRAVELLING,IB14042,25,FEMALE,DOCTOR,SINGLE,4,60111,27111,5,"12,90,929",4,"18,000",1,0,Medium Risk
TRAVELLING,IB14012,30,FEMALE,DENTIST,SINGLE,3,58450,27675,5,"75,000",6,"20,876",3,1,Medium Risk
GOLD LOAN,IB15104,42,MALE,BANK MANAGER,MARRIED,4,null,48072,9,"729,793",6,51976,2,4,Medium Risk
GOLD LOAN,IB15093,31,FEMALE,TEACHER,MARRIED,3,55227,27187,2,"314,714",5,63843,7,3,Medium Risk
GOLD LOAN,IB15021,43,FEMALE,SOFTWARE ENGINEER,SINGLE,5,76970,35379,2,"1,090,886",9,13994,5,7,Medium Risk
GOLD LOAN,IB15014,26,FEMALE,BUSINESS,MARRIED,3,61508,26048,9,"899,791",8,40479,0,9,Medium Risk
GOLD LOAN,IB14995,43,FEMALE,POLICE,MARRIED,5,58501,28744,5,"1,160,365",2,55397,9,0,Medium Risk
GOLD LOAN,IB14983,28,MALE,BUSINESS,MARRIED,5,35407,21876,9,"157,459",4,36058,0,8,Medium Risk
GOLD LOAN,IB14968,32,MALE,DRIVER,MARRIED,3,420792,26854,9,"658,350",3,54906,3,5,Medium Risk
GOLD LOAN,IB14935,42,MALE,DATA ENGINEER,MARRIED,7,62760,21568,5,"1,111,608",5,36170,9,2,Medium Risk
GOLD LOAN,IB14926,46,FEMALE,BANK MANAGER,MARRIED,5,60740,31245,5,"867,590",6,46700,3,4,Medium Risk
GOLD LOAN,IB14909,57,FEMALE,POLICE,SINGLE,3,44945,25513,8,"453,196",2,54235,3,2,Medium Risk
GOLD LOAN,IB14894,33,FEMALE,NAVY,MARRIED,7,47356,28491,2,"1,648,683",2,59025,8,6,Medium Risk
GOLD LOAN,IB14889,41,FEMALE,DIETICIAN,SINGLE,3,96501,41529,6,"1,694,354",3,35876,2,8,Medium Risk
GOLD LOAN,IB14878,33,FEMALE,CHARTERED APPRAISER,SINGLE,4,58661,42768,4,"1,290,966",9,72021,3,9,Medium Risk
GOLD LOAN,IB14857,32,FEMALE,DIETICIAN,SINGLE,3,40060,23989,6,"400,085",6,41436,4,9,Medium Risk
GOLD LOAN,IB14853,31,FEMALE,TEACHER,SINGLE,3,51227,17187,2,"314,714",5,63843,7,3,Medium Risk
GOLD LOAN,IB14845,42,MALE,DATA ENGINEER,MARRIED,7,82760,23568,5,"1,513,708",5,56170,9,2,Medium Risk
GOLD LOAN,IB14820,42,MALE,DRIVER,SINGLE,2,47217,16575,3,"1,773,297",4,40373,8,1,Medium Risk
GOLD LOAN,IB14804,30,MALE,BUSINESS,SINGLE,2,53957,34709,7,"1,765,055",8,37815,5,8,Medium Risk
GOLD LOAN,IB14799,52,FEMALE,NAVY,MARRIED,4,80188,28352,3,"959,366",1,20815,2,0,Medium Risk
GOLD LOAN,IB14795,54,FEMALE,TEACHER,SINGLE,7,53832,18748,4,"1,503,911",1,50787,9,1,Medium Risk
GOLD LOAN,IB14714,43,FEMALE,SOFTWARE ENGINEER,SINGLE,5,86970,30379,2,"1,090,886",9,13994,5,7,Medium Risk
GOLD LOAN,IB14709,39,FEMALE,BUSINESS,MARRIED,6,63769,33186,6,"954,392",8,81465,0,3,Medium Risk
GOLD LOAN,IB14707,26,FEMALE,BUSINESS,MARRIED,3,51508,22048,9,"899,791",8,40479,0,9,Medium Risk
GOLD LOAN,IB14695,31,FEMALE,DRIVER,MARRIED,2,35558,16169,2,"1,268,932",4,48649,7,9,Medium Risk
GOLD LOAN,IB14693,27,MALE,DOCTOR,SINGLE,7,28366,29258,2,"1,659,986",9,20611,5,5,Medium Risk
GOLD LOAN,IB14691,43,FEMALE,POLICE,SINGLE,5,38501,48744,5,"1,460,365",2,55397,9,0,Medium Risk
GOLD LOAN,IB14686,59,MALE,BUSINESS,MARRIED,6,37585,36062,4,"1,672,628",1,13765,9,0,Medium Risk
GOLD LOAN,IB14681,40,MALE,AGRICULTURAL ENGINEER,MARRIED,7,98586,47790,2,"1,724,031",6,75334,2,0,Medium Risk
GOLD LOAN,IB14671,27,FEMALE,DIETICIAN,MARRIED,6,79079,32351,9,"505,972",9,75523,2,5,Medium Risk
GOLD LOAN,IB14663,26,MALE,PILOT,MARRIED,2,81714,43790,2,"1,749,832",4,58061,6,9,Medium Risk
GOLD LOAN,IB14657,44,FEMALE,NAVY,SINGLE,2,86269,25280,8,"964,109",4,80308,0,7,Medium Risk
GOLD LOAN,IB14652,25,MALE,ARMY,MARRIED,3,95789,21107,2,"1,474,593",2,73518,5,3,Medium Risk
GOLD LOAN,IB14631,49,MALE,CLERK,MARRIED,3,57807,27179,4,"568,811",5,23536,3,2,Medium Risk
GOLD LOAN,IB14629,47,FEMALE,DOCTOR,SINGLE,2,86072,22248,2,"1,044,964",4,63105,7,2,Medium Risk
GOLD LOAN,IB14626,53,MALE,SOFTWARE ENGINEER,MARRIED,2,52168,29991,2,"343,770",7,20972,9,5,Medium Risk
GOLD LOAN,IB14620,41,FEMALE,ARMY,MARRIED,5,93474,32845,4,"324,055",6,63046,4,6,Medium Risk
GOLD LOAN,IB14617,39,FEMALE,PILOT,SINGLE,2,84553,36744,3,"870,287",4,34551,5,0,Medium Risk
GOLD LOAN,IB14599,26,FEMALE,TECHNICIAN,MARRIED,6,41819,23703,5,"1,496,478",3,16378,9,5,Medium Risk
GOLD LOAN,IB14590,58,MALE,DRIVER,SINGLE,5,45457,25922,6,"905,203",4,30211,1,6,Medium Risk
GOLD LOAN,IB14575,28,MALE,BUSINESS,MARRIED,5,35407,21876,9,"177,459",4,56058,0,8,Medium Risk
GOLD LOAN,IB14566,30,MALE,CHARTERED APPRAISER,MARRIED,2,81225,29463,4,"1,389,600",3,30686,6,1,Medium Risk
GOLD LOAN,IB14552,32,FEMALE,DRIVER,MARRIED,3,42792,25854,9,"15,350",3,64906,3,5,Medium Risk
GOLD LOAN,IB14530,34,MALE,DENTIST,MARRIED,7,41247,20755,6,"227,503",3,80114,2,8,Medium Risk
GOLD LOAN,IB14526,59,MALE,DATA ANALYST,MARRIED,2,80438,27773,8,"1,649,570",6,79727,1,4,Medium Risk
GOLD LOAN,IB14497,30,MALE,ACCOUNT MANAGER,MARRIED,4,52568,17647,6,"837,703",6,22579,2,9,Medium Risk
GOLD LOAN,IB14493,24,FEMALE,SOFTWARE ENGINEER,SINGLE,3,null,29521,7,"1,015,508",7,89069,6,9,Medium Risk
GOLD LOAN,IB14453,34,MALE,CLERK,MARRIED,7,61207,15955,7,"1,172,914",4,20405,8,0,Medium Risk
GOLD LOAN,IB14446,45,MALE,TEACHER,MARRIED,5,null,20185,5,"1,218,291",7,71089,6,0,Medium Risk
GOLD LOAN,IB14440,24,MALE,SOFTWARE ENGINEER,SINGLE,2,31107,21316,7,"1,216,788",6,76049,1,5,Medium Risk
GOLD LOAN,IB14433,51,MALE,TEACHER,MARRIED,4,42978,29709,5,"1,552,596",8,44746,9,2,Medium Risk
GOLD LOAN,IB14410,52,MALE,TEACHER,MARRIED,4,75831,27487,5,"882,714",4,73794,6,4,Medium Risk
GOLD LOAN,IB14403,28,FEMALE,TEACHER,MARRIED,3,null,19339,8,"1,585,799",7,82089,2,3,Medium Risk

Inner Join (SparkSQL)
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|Customer_ID|Age|Gender|          Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|Risk Level|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|    IB15107| 46|FEMALE| CHARTERED APPRAISER|       MARRIED|          2| 85088|      44256|            5|      HOUSING|    347,254|      9|       37966|               1|                 5| High Risk|
|    IB15095| 53|FEMALE|   SOFTWARE ENGINEER|        SINGLE|          4| 75210|      26027|            7|      HOUSING|    740,375|      7|       35419|               2|                 4| High Risk|
|    IB15091| 42|  MALE|AGRICULTURAL ENGI...|       MARRIED|          2| 66610|      35744|            4|      HOUSING|    582,943|      8|       28192|               0|                 8| High Risk|
|    IB15084| 36|FEMALE|               CLERK|       MARRIED|          4| 38000|      19000|            3|      HOUSING|  3,00,000 |      2|       5,600|               4|                 8| High Risk|
|    IB15024| 26|  MALE|           DIETICIAN|        SINGLE|          3| 95425|      53086|            2|      HOUSING|    488,076|      4|       61227|               5|                 2| High Risk|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
only showing top 5 rows

In [0]:
#outer join
print("Outer Join (PySpark)")
loan.join(risk_df, on="Loan Category", how="outer").show(5)

print("Outer Join (SparkSQL)")
spark.sql("""
    SELECT l.*, r.`Risk Level`
    FROM loan l
    FULL OUTER JOIN risk r
    ON l.`Loan Category` = r.`Loan Category`
""").show(5)

Outer Join (PySpark)
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
|Loan Category|Customer_ID|Age|Gender|          Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|Risk Level|
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
|  AGRICULTURE|    IB14589| 56|  MALE|              FARMER|        SINGLE|          3| 51162|      12591|            9|    104,758|      3|       75535|               2|                 1|      null|
|  AGRICULTURE|    IB14604| 52|  MALE|          ACCOUNTANT|        SINGLE|          7| 46086|      27201|            9|  1,682,942|      7|       29654|               5|                 8|      null|
|  AGRICULTURE|    IB14615| 59|  MALE|             DENTIST|       MARRIED|          5| 81507|      25958|            3|    831,263|      1|       63833|               8|                 7|      null|
|  AGRICULTURE|    IB14675| 56|  MALE|AGRICULTURAL ENGI...|       MARRIED|          4| 88768|      23866|            3|    560,187|      5|       31603|               1|                 9|      null|
|  AGRICULTURE|    IB14771| 44|FEMALE|              POLICE|        SINGLE|          4| 80769|      41529|            3|  1,458,057|      3|       74975|               5|                 1|      null|
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
only showing top 5 rows

Outer Join (SparkSQL)
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|Customer_ID|Age|Gender|          Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|Risk Level|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|    IB14589| 56|  MALE|              FARMER|        SINGLE|          3| 51162|      12591|            9|  AGRICULTURE|    104,758|      3|       75535|               2|                 1|      null|
|    IB14604| 52|  MALE|          ACCOUNTANT|        SINGLE|          7| 46086|      27201|            9|  AGRICULTURE|  1,682,942|      7|       29654|               5|                 8|      null|
|    IB14615| 59|  MALE|             DENTIST|       MARRIED|          5| 81507|      25958|            3|  AGRICULTURE|    831,263|      1|       63833|               8|                 7|      null|
|    IB14675| 56|  MALE|AGRICULTURAL ENGI...|       MARRIED|          4| 88768|      23866|            3|  AGRICULTURE|    560,187|      5|       31603|               1|                 9|      null|
|    IB14771| 44|FEMALE|              POLICE|        SINGLE|          4| 80769|      41529|            3|  AGRICULTURE|  1,458,057|      3|       74975|               5|                 1|      null|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
only showing top 5 rows

In [0]:
print("Left Join (PySpark)")
loan.join(risk_df, on="Loan Category", how="left").show(5)

print("Left Join (SparkSQL)")
spark.sql("""
    SELECT l.*, r.`Risk Level`
    FROM loan l
    LEFT JOIN risk r
    ON l.`Loan Category` = r.`Loan Category`
""").show(5)

Left Join (PySpark)
+-------------+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+-----------+
|Loan Category|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill| Risk Level|
+-------------+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+-----------+
|      HOUSING|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6| 10,00,000 |      5|      42,898|               6|                 9|  High Risk|
|     SHOPPING|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     50,000|      3|      33,999|               1|                 5|   Low Risk|
|   TRAVELLING|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|     75,000|      6|      20,876|               3|                 1|Medium Risk|
|    GOLD LOAN|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|  6,00,000 |      7|      11,000|               0|                 4|Medium Risk|
|   AUTOMOBILE|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|  2,00,000 |      2|      43,898|               1|                 2|  High Risk|
+-------------+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+-----------+
only showing top 5 rows

Left Join (SparkSQL)
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+-----------+
|Customer_ID|Age|Gender|  Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill| Risk Level|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+-----------+
|    IB14001| 30|  MALE|BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|      HOUSING| 10,00,000 |      5|      42,898|               6|                 9|  High Risk|
|    IB14008| 44|  MALE|   PROFESSOR|       MARRIED|          6| 51000|      19999|            4|     SHOPPING|     50,000|      3|      33,999|               1|                 5|   Low Risk|
|    IB14012| 30|FEMALE|     DENTIST|        SINGLE|          3| 58450|      27675|            5|   TRAVELLING|     75,000|      6|      20,876|               3|                 1|Medium Risk|
|    IB14018| 29|  MALE|     TEACHER|       MARRIED|          5| 45767|      12787|            3|    GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|Medium Risk|
|    IB14022| 34|  MALE|      POLICE|        SINGLE|          4| 43521|      11999|            3|   AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|  High Risk|
+-----------+---+------+------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+-----------+
only showing top 5 rows

In [0]:
print("Right Join (PySpark)")
loan.join(risk_df, on="Loan Category", how="right").show(5)

print("Right Join (SparkSQL)")
spark.sql("""
    SELECT l.*, r.`Risk Level`
    FROM loan l
    RIGHT JOIN risk r
    ON l.`Loan Category` = r.`Loan Category`
""").show(5)

Right Join (PySpark)
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
|Loan Category|Customer_ID|Age|Gender|          Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|Risk Level|
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
|      HOUSING|    IB15107| 46|FEMALE| CHARTERED APPRAISER|       MARRIED|          2| 85088|      44256|            5|    347,254|      9|       37966|               1|                 5| High Risk|
|      HOUSING|    IB15095| 53|FEMALE|   SOFTWARE ENGINEER|        SINGLE|          4| 75210|      26027|            7|    740,375|      7|       35419|               2|                 4| High Risk|
|      HOUSING|    IB15091| 42|  MALE|AGRICULTURAL ENGI...|       MARRIED|          2| 66610|      35744|            4|    582,943|      8|       28192|               0|                 8| High Risk|
|      HOUSING|    IB15084| 36|FEMALE|               CLERK|       MARRIED|          4| 38000|      19000|            3|  3,00,000 |      2|       5,600|               4|                 8| High Risk|
|      HOUSING|    IB15024| 26|  MALE|           DIETICIAN|        SINGLE|          3| 95425|      53086|            2|    488,076|      4|       61227|               5|                 2| High Risk|
+-------------+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-----------+-------+------------+----------------+------------------+----------+
only showing top 5 rows

Right Join (SparkSQL)
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|Customer_ID|Age|Gender|          Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|Risk Level|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
|    IB15107| 46|FEMALE| CHARTERED APPRAISER|       MARRIED|          2| 85088|      44256|            5|      HOUSING|    347,254|      9|       37966|               1|                 5| High Risk|
|    IB15095| 53|FEMALE|   SOFTWARE ENGINEER|        SINGLE|          4| 75210|      26027|            7|      HOUSING|    740,375|      7|       35419|               2|                 4| High Risk|
|    IB15091| 42|  MALE|AGRICULTURAL ENGI...|       MARRIED|          2| 66610|      35744|            4|      HOUSING|    582,943|      8|       28192|               0|                 8| High Risk|
|    IB15084| 36|FEMALE|               CLERK|       MARRIED|          4| 38000|      19000|            3|      HOUSING|  3,00,000 |      2|       5,600|               4|                 8| High Risk|
|    IB15024| 26|  MALE|           DIETICIAN|        SINGLE|          3| 95425|      53086|            2|      HOUSING|    488,076|      4|       61227|               5|                 2| High Risk|
+-----------+---+------+--------------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+----------+
only showing top 5 rows